.login-form-container {
    background-color: #ffffff;
    width: 30vw;
}

.login-form {
    max-width: 40vw;
    width: 100%;
    border-radius: 30px;
}

.login-form .btn {
    border-radius: 20px;
    max-width: 15vw;
}

.form-control {
    width: 15vw;
}

.google-login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}