.login-form-container {
    width: 480px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    box-shadow: none;
  }
  
  .login-form {
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 35px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }
  
  .form-control {
    width: 300px;
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    background-color: #f1f1f1;
  }
  
  .btn-login,
  .btn-register {
    width: 200px;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    transition: all 0.3s ease;
    margin-bottom: 10px;
  }
  
  .btn-login:hover {
    background-color: #000;
    color: #fff;
  }
  
  .btn-register {
    background-color: #e60073;
    color: #fff;
  }
  
  .btn-register:hover {
    background-color: #000;
    color: #fff;
  }
  
  .google-login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 300px;
  }
  